.Range{
  width: 100vw;
  text-align: right;
}
.Range input[type='range']{
  -webkit-appearance: none;
  width: calc(100vw - 3rem);
  outline: none;
  background: white;
  height: 6px;
  border-radius: 5px;
}
.Range input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: white;
}
.Range span{
  width: 3rem;
  text-align: center;
}

ul{
  text-align: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.KagamiWindow{
  background-color: rgba(63, 63, 63, 0.5);
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .5) 25%, rgba(255, 255, 255, .5) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .5) 75%, rgba(255, 255, 255, .5) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .5) 25%, rgba(255, 255, 255, .5) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .5) 75%, rgba(255, 255, 255, .5) 76%, transparent 77%, transparent);
  background-size: 50px 50px;
  vertical-align: middle;
}
.KagamiWindow li{
  position: absolute;
  width: 100%;
  opacity: 0;
}
.KagamiWindow img{
  animation: icon-pulse 1s linear;
}

@keyframes bg-move {
  from{ background-position: 0 0; }
  to{ background-position: -100vw 0; }
}

@keyframes icon-pulse {
  0%{ transform: scale(1.20); }
  33%{ transform: scale(1.05); }
  100%{ transform: scale(1.00); }
}
@keyframes icon-move {
 0%{
   transform: translateX(0);
   opacity: 1;
 }
 100%{
   transform: translateX(-100vw);
   opacity: 1;
 }
}